body{
    font-family: Arial, sans-serif;
    background:#f1f3f6;
    margin:0;
}

header{
    background:#2874f0;
    color:white;
    padding:15px;
    font-size:22px;
}

.container{
    width:90%;
    margin:auto;
}

.form-box{
    background:white;
    width:300px;
    margin:40px auto;
    padding:20px;
    border-radius:5px;
}

input,button{
    width:100%;
    padding:10px;
    margin:8px 0;
}

button{
    background:#2874f0;
    color:white;
    border:none;
    cursor:pointer;
}

.products{
    display:flex;
    flex-wrap:wrap;
    gap:20px;
    margin-top:20px;
}

.product{
    background:white;
    width:220px;
    padding:15px;
    border-radius:5px;
    text-align:center;
}

.product img{
    width:100%;
    height:150px;
}

.product a{
    display:block;
    margin-top:10px;
    background:#fb641b;
    color:white;
    padding:8px;
    text-decoration:none;
}
